/*
 * storybook
 * 'A Storybook Webapp, Optimized for iPad'
 * 
 * Kashev Dalmia
 * kashev.dalmia@gmail.com
 * 
 * Yet Another Project for ARTD 313 @ UIUC, Sp 2014
 * proj1a3b - dalmia3
 * 
 * main.scss
 */

/*
 * IMPORTS
 */
/* BOURBON NEAT SASS LIBRARY */
$gutter : 0;
$column : 2;
@import "bourbon/bourbon";
@import "neat/neat";

/* RESET */
@import "reset.css";

/* ROBOTO THIN */
@import url("http://fonts.googleapis.com/css?family=Roboto:700,400,100");
/* COOKIE */
@import url("http://fonts.googleapis.com/css?family=Cookie:400");

/*
 * MIXINS
 */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

/* FROM TEMPLATE */
/* changes to the following code should be made only if you really know what you are doing! */

* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
}

/*
 * NEAT GRID CSS
 */
// default grid is 12
.grid {
  @include outer-container;
  .full          { @include span-columns(12); }
  .ten           { @include span-columns(10); }
  .three-fourths { @include span-columns(9);  }
  .half          { @include span-columns(6);  }
  .five          { @include span-columns(5);  }
  .third         { @include span-columns(4);  }
  .two-thirds    { @include span-columns(8);  }
  .fourth        { @include span-columns(3);  }
  .sixth         { @include span-columns(2);  }
}

/*
 * Storybook CSS
 */
// $font-stack : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$title-stack : "Cookie", cursive;
$font-stack  : "Cookie", cursive;

$ipad-width  : 1024px;
$ipad-height : 768px;
$ipad-header : 20px;

$text-color    : #FFFFFF;
$bg-color      : #0A0A0A;
$warning-color : #FF6600;

/*
 * TAG STYLING
 */
html {
  font-size: 62.5%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

img {

}

/*
 * STORYBOOK CSS
 */
.slide {
  position: relative;

  img.bg {
    z-index: -1;
    left: 0; top: 0;
    max-width: 100%;
    max-height: 100%;
  }
  
  .pagetext {
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    color: $text-color;
    font-family: $font-stack;
    div {
      font-size: 3.0rem;
      text-align: center;
    }
    
    /*
     * TITLE PAGE
     */
    .title {
      font-family: $title-stack;
      font-size: 6.00rem;
      position: absolute;
      top: 40%; left: 2.0rem;
      font-weight: 100;
    }
  }
}

/*
 * GIVEN CSS
 */
body.portrait #container {
  display: none;
}

/* MAIN CONTAINER */
#container {
  max-width: $ipad-width;
  max-height : $ipad-height - $ipad-header;
  min-width: $ipad-width;
  min-height : $ipad-height - $ipad-header;
  overflow: hidden;

  background-color : $bg-color;
  position: absolute;
  margin-left: auto;
  margin-right: auto;

}

/* IPAD BORDER */

#ipad {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top : 0;
}
