/*
 * storybook
 * 'A Storybook Webapp, Optimized for iPad'
 * 
 * Kashev Dalmia
 * kashev.dalmia@gmail.com
 * 
 * Yet Another Project for ARTD 313 @ UIUC, Sp 2014
 * proj1a3b - dalmia3
 * 
 * main.scss
 */

/*
 * IMPORTS
 */
/* BOURBON NEAT SASS LIBRARY */
$gutter : 0;
$column : 2;
@import "bourbon/bourbon";
@import "neat/neat";

/* RESET */
@import "reset.css";

/* JOSEFIN SLAB, THIN */
@import url("http://fonts.googleapis.com/css?family=Josefin+Slab:600,400,100");
/* COOKIE */
@import url("http://fonts.googleapis.com/css?family=Cookie:400");

/*
 * MIXINS
 */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

/*
 * NEAT GRID CSS
 *  default grid is 12 wide
 */
.grid {
  @include outer-container;
  .full          { @include span-columns(12); }
  .ten           { @include span-columns(10); }
  .three-fourths { @include span-columns(9);  }
  .half          { @include span-columns(6);  }
  .five          { @include span-columns(5);  }
  .third         { @include span-columns(4);  }
  .two-thirds    { @include span-columns(8);  }
  .fourth        { @include span-columns(3);  }
  .sixth         { @include span-columns(2);  }
}

/*
 * VARIABLES
 */
/* iPad Sizing */
$ipad-width  : 1024px;
$ipad-height : 768px;
$ipad-header : 20px;

/* Fonts */
$title-stack    : "Cookie", cursive;
$cookie-stack   : "Cookie", cursive;
$josefin-stack  : "Josefin Slab", serif;

/* Colors */
$text-color-white : #FFFFFF;
$text-color-grey  : #AAAAAA;
$text-color-black : #010101;
$text-color-pom   : #c0392b;
$bg-color         : #2A2A2A;
$warning-color    : #FF6600;


/*
 * GIVEN CSS
 *  more or less
 */
* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
}

body.portrait #container {
  display: none;
}

/* MAIN CONTAINER */
#container {
  max-width: $ipad-width;
  max-height : $ipad-height - $ipad-header;
  min-width: $ipad-width;
  min-height : $ipad-height - $ipad-header;
  overflow: hidden;

  background-color : $bg-color;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/*
 * TAG STYLING
 */
html {
  font-size: 62.5%;
  width: 100%;
  background-color: $bg-color;
  background-image: url('../img/texture.png');
  background-repeat: repeat;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  /*
   * everything is visible forever
   *  http://stackoverflow.com/a/8712442/1473320
   */
  color: $text-color-white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

img {

}

/*
 * LINKS
 */
a {
  text-decoration: none;
}
a:link {
  color: $text-color-pom;
}
a:visited {
  color: $text-color-grey;
}
a:hover {
  color: lighten($text-color-pom, 15%);
}

/*
 * STORYBOOK CSS
 */

/* LOADING SCREEN */
#loading {
  text-align: center;
  font-family: $cookie-stack;
  font-size: 10.0rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: $bg-color;
  background-image: url('../img/texture.png');
  background-repeat: repeat;
  position: absolute;

}

/* SLIDE CSS */
.slide {
  position: relative;

  img.bg {
    z-index: -1;
    left: 0; top: 0;
    max-width: 100%;
    max-height: 100%;
  }

  /*
   * PAGE TEXT
   */
  .pagetext {
    width: 100%;
    position: absolute;
      
    font-family: $josefin-stack;
    font-weight: 600;
    font-size: 3.5rem;
    text-align: center;    
  }
  .pagetext.bottom {
    left: 0;
    bottom: 10%; 
  }

  /*
   * TITLE PAGE SPECIFIC
   */
  .pagetext.titlepage{
    left: 3.0rem;
    top: 20%;
    text-align: left;
    h1 {
      font-family: $title-stack;
      font-size: 6.00rem;
      line-height: 10.00rem;
      font-weight: 100;
    }
    h2 {
      font-family: $josefin-stack;
      font-weight: bold;
      font-size: 3.0rem;
    }
  }

  /*
   * FIN PAGE SPECIFIC
   */
  .pagetext.fin{
    top: 40%;
    h1 {
      font-family: $title-stack;
      font-size: 6.00rem;
      line-height: 10.00rem;
      font-weight: 100;
    }
  }

  /*
   * THANKS PAGE SPECIFIC
   */
  .pagetext.thanks{
    top: 20%;
    h1 {
      font-family: $title-stack;
      font-size: 6.00rem;
      line-height: 10.00rem;
      font-weight: 100;
    }
    p {
      font-family: $josefin-stack;
      text-align: left;
      font-size: 2.5rem;

      padding: 15px 10%;
    }
  }

  /*
   * ABOUT PAGE SPECIFIC
   */
  .pagetext.about{
    top: 20%;
    h1 {
      font-family: $title-stack;
      font-size: 6.00rem;
      line-height: 10.00rem;
      font-weight: 100;
      padding: 2.00rem;
    }
    h2 {
      font-family: $josefin-stack;
      font-weight: bold;
      font-size: 3.5rem;
      padding: 3.00rem 2.00rem 0.50rem 2.00rem;
    }
    p {
      font-size: 2.50rem;
      text-align: left;
      padding: 0.50rem 10.00rem;
    }
  }

  /*
   * PAGE NUMBERS
   */
  $page-num-padding : 2.0rem;
  .page-number {
    position: absolute;
    right:  $page-num-padding;
    bottom: $page-num-padding;
    text-align: right;
    
    font-family: $josefin-stack;
    font-size: 2.5rem;
  }

} /* END SLIDE CSS */

/*
 * NAV CSS
 */

.slides-nav {
  font-family: $josefin-stack;
  color: $text-color-white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 3.5rem;
  text-align: center;
  font-weight: 100;

  position: absolute;
  width: 100%;
  left: 0; right: 0;
  bottom: 2.0rem;
  a:link {
    color: $text-color-white;
  }
  a:visited {
    color: $text-color-white;
  }
  a:hover {
    color: $text-color-pom;
  }
  .nav {
  }
}

.slides-nav-menu {
  display: none;

  position: absolute;
  top: $ipad-height - $ipad-header - 450px; left: $ipad-width / 2 - 200px; // only places well w/o zoom
  border: solid white 2px;
  text-align: center;
  z-index: 5;
  font-size: 3.00rem;
  font-family: $josefin-stack;
  width : 40.00rem;
  background-color: $bg-color;
  padding: 1.0rem;
  @include border-radius(15%);
  div:hover {
    color: $text-color-pom;
  }
}


/* IPAD BORDER */

#ipad {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top : 0;
}
